:root {
  --color-gray: #e0e0e0;
  --color-primary: #47b74e;
  --color-red: red;
  --size-xs: 8px;
  --size-s: 16px;
}

.App {
  display: flex;
  justify-content: center;
  font-family: 'open sans', 'tahoma', sans-serif;
}

h1 {
  text-align: center;
}

line {
  height: 2px;
  margin-bottom: var(--size-s);
  background: var(--color-gray);
}

.Card input {
  border: solid 1px;
  border-color: var(--color-gray);
  border-radius: var(--size-xs);
  padding: var(--size-xs);
}

.Card .input--failed {
  border-color: var(--color-red);
}

.Card .invalid-input-label {
  color: var(--color-red);
}

.Card button:hover {
  filter: brightness(110%);
}

.Card i {
  margin-top: var(--size-s);
  color: var(--color-gray);
}

@media only screen and (min-width: 800px) {
  .Card {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .Card {
    width: 100vh;
  }
}
